version: "3.9"

services:
  app-votacao:
    build: .
    container_name: app-votacao
    ports:
      - "5000:5000"
    networks:
      - rede-votacao

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - rede-votacao
    depends_on:
      - app-votacao

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - rede-votacao
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  grafana-data:
networks:
  rede-votacao:
    driver: bridge
